/* === Grave DualSense Skin (GPV Format) === */

/* basic controller container */
.controller.ps3,
.controller.ps4,
.controller.ps5,
.controller.dualsense {
  width: 700px;
  height: 500px;

  background: url("https://raw.githubusercontent.com/toydevcrux/grave-gamepad-skin/main/1.png")
    no-repeat center;
  background-size: contain;
}

/* buttons + sticks default styling */
.button,
.stick,
.trigger {
  opacity: 0.8;
}

/* optional shading to match photo */
.controller.ps5 .button,
.controller.dualsense .button {
  filter: brightness(0.9);
}
