/* ===== GRAVE | DUALSENSE | GAMEPADVIEWER FINAL ===== */

/* target semua kemungkinan container controller GPV */
#controller,
.controller,
.controller.ps5,
.controller.ps4,
.controller.dualsense,
.controller.dualSense,
.controller.dual-sense,
.controller[data-controller],
.gamepad,
.gamepad.dualsense {
  width: 700px !important;
  height: 500px !important;

  background-image: url("https://raw.githubusercontent.com/toydevcrux/grave-gamepad-skin/main/1.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

/* matiin layer default kalau ada */
.controller .base,
.controller .shell,
.controller .face,
.controller .bg,
.controller img {
  background: transparent !important;
}

/* sedikit redup biar tombol kebaca */
.button,
.stick,
.trigger {
  opacity: 0.9 !important;
}
