:root{
  --bg: url("https://raw.githubusercontent.com/toydevcrux/grave-gamepad-skin/main/1.png");
}

/* bikin semua area preview transparan biar gambar keliatan */
*{
  background-color: transparent !important;
}

/* tempel gambar ke elemen-elemen umum */
html, body{
  background: #0b0b0b !important;
}

div, section, main, article{
  background-image: var(--bg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}
